In [2]:
import numpy as np
import pandas as pd
import math

In [14]:
df = pd.DataFrame({'국어':[51,65,78],\
                   '수학':[80,90,100]},\
                 index=['홍길동','전규빈','규빈'])

def min_max(x):
    return x.max()-x.min()

In [15]:
df.apply(np.sqrt, axis=0)

           국어         수학
홍길동  7.141428   8.944272
전규빈  8.062258   9.486833
규빈   8.831761  10.000000

In [16]:
df.apply(np.average, axis=0)

국어    64.666667
수학    90.000000
dtype: float64

In [17]:
df.apply(np.average, axis=1)

홍길동    65.5
전규빈    77.5
규빈     89.0
dtype: float64

In [18]:
df.agg(np.average, axis=1)

홍길동    65.5
전규빈    77.5
규빈     89.0
dtype: float64

In [19]:
df.agg(min_max)

국어    27
수학    20
dtype: int64

In [20]:
df.apply(min_max)

국어    27
수학    20
dtype: int64