## Magic 키워드
* Jupyter Notebook은 사용자 편의를 위해 Magic 키워드 를 지원한다.
* Magic 키워드는 % 또는 %%를 이용하여 실행할 수 있다. 각각 한 줄, 한 셀에 대해 Magic 키워드를 실행한다.
* Magic 키워드로 제공하는 기능은 여러가지가 있지만 주로 사용되는것은 다음과 같다.

In [ ]:
# 메모리를 리셋한다.
%reset

# matplot 그래프와 그림을 출력한다.
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

%time

Once deleted, variables cannot be recovered. Proceed (y/[n])? ㅜ
Once deleted, variables cannot be recovered. Proceed (y/[n])? n
Nothing done.

## 자주 사용 하는 유용한 옵션

In [ ]:
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
import warnings
import pandas as pd
# cell 내부의 print 형태의 결과를 모두 보여줌 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 출력 포맷 정의 
from IPython.core.display import display, HTML
display(HTML("<style>.container { width: 80% !important; }</style>"))

# platform 별 한글 default 폰트 정의 
import platform
os_s = platform.platform()
if os_s.lower().find('mac') >= 0 :
    font_fam = 'NanumBarunGothic'
elif os_s.lower().find('window') >0 : 
    font_fam = fm.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
else : 
    font_fam = 'NanumGothic'
 
plt.rcParams['font.family'] = font_fam


# plot의 사이즈 변경
plt.rcParams['figure.figsize'] = [20,10]

# plot의 axes minus 기호를 unicode 사용하지 않도록 정의. 한글 폰트에 의한 글자 깨짐 방지
plt.rcParams['axes.unicode_minus'] = False

# warning message 출력 생략.
warnings.filterwarnings(action='ignore')  

# pandas... dataframe 생략된 rows 모두 보여주기 
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print('all rows')
    # 실행할 명령


plt.rcParams['axes.unicode_minus'] = False

all rows

In [ ]:
# %time
ls1 = [1,2,3]; ls2 = [2,3,4]
ls1   
ls2

[1, 2, 3]

[2, 3, 4]

## 추가 패키지 설치 방법

* python package : !pip install <패키지명> 
* OS package : apt-get install <...>

In [ ]:
!pip list | grep loguru

In [ ]:
!pip install loguru

Collecting loguru
  Downloading loguru-0.5.3-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 4.2 MB/s
Installing collected packages: loguru
Successfully installed loguru-0.5.3

# Python 기초
* 유용한 사이트 : [code visualization](http://pythontutor.com/visualize.html#mode=display)

## basic type

### 숫자형

- 정수형
- 실수형
- 8진수, 16진수

In [ ]:
# 정수
a = 123
a = -178
a = 0

# 실수
a = 1.2
a = -3.45
a = 4.24E10
a = 4.24e-10

# 8진수
a = 0o177

# 16진수
a = 0x8ff
b = 0xABC

In [ ]:
# 연산
x = 3
print(type(x)) # Prints "<class 'int'>"

print(x)       # "3" 출력
print(x + 1)   # 더하기, "4"
print(x - 1)   # 빼기, "2"
print(x * 2)   # 곱하기, "6"
print(x ** 2)  # 2제곱, "9"
print(x ** 3)  # 3제곱, "27"
print(f'x / 2 : {x / 2}')   # 2로 나누기, "1.5"

print(f'x // 2 : {x // 2}')
 
print(x % 2)   # 2로 나누고 나머지, "1"

x = x + 1
print(x)
x += 1
print(x)  

x = x * 2
print(x)
x *= 2
print(x)  

y = 2.5
print(type(y)) # Prints "<class 'float'>"

print(y, y + 1, y * 2, y ** 2) # "2.5 3.5 5.0 6.25"

<class 'int'>
3
4
2
6
9
27
x / 2 : 1.5
x // 2 : 1
1
4
5
10
20
<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
# 사사오입 : python 내장 함수 round
print(f'round(1.5) : {round(1.5)}')  
print(f'round(2.5) : {round(2.5)}')  
print(f'round(3.5) : {round(3.5)}')  
print(f'round(4.5) : {round(4.5)}')

round(1.5) : 2
round(2.5) : 2
round(3.5) : 4
round(4.5) : 4

In [ ]:
from loguru import logger 

# 사용자 정의 처리 필요
@logger.catch
def roundUp(num):
    return int(num) + 1 if (num - int(num)) >= 0.5 else int(num)

print(f'round(1.5) : {roundUp(1.5)}')  
print(f'round(2.5) : {roundUp(2.5)}')  
print(f'round(3.5) : {roundUp(3.5)}')  
print(f'round(4.5) : {roundUp(4.5)}')

round(1.5) : 2
round(2.5) : 3
round(3.5) : 4
round(4.5) : 5

#### max value? overflow

In [ ]:
# max value ?? 
numberI, numberJ = 10, \
12312312312319082371928471982479812647182634178246123124123513245123412413512319082376471826341782461231241235132451234124135123190823647182634178246123124123513245123412413512319082319284719824798126471826341782461123190823719284719824798126471826341782461
print(f'numberI : {numberI}')
print(f'numberJ : {numberJ}')
print(f'type : {type(numberI)},{type(numberJ)}')

numberI : 10
numberJ : 12312312312319082371928471982479812647182634178246123124123513245123412413512319082376471826341782461231241235132451234124135123190823647182634178246123124123513245123412413512319082319284719824798126471826341782461123190823719284719824798126471826341782461
type : <class 'int'>,<class 'int'>

In [ ]:
# sys 상의 max value
import sys
print(sys.maxsize+1)

9223372036854775808

### boolean 형
* True or False

In [ ]:
# True/False Boolean

t = True
f = False
print(type(t)) # Prints "<class 'bool'>"

print(t and f) # AND 연산, "False"
print(t or f)  # OR 연산, "True"
print(not t)   # NOT 연산, prints "False"

<class 'bool'>
False
True
False

In [ ]:
print(f'{bool(1)},{bool(2)},{bool(0)}')

True,True,False

### 문자형

In [ ]:
# 문자열
# 파이썬은 문자열에 대해 상당한 편의성을 지원합니다.

hello = 'hello'    # 작은 따옴표를 사용할 수 있습니다.
world = "world"    # 큰 따옴표도 사용할 수 있습니다.
print(hello)       # "hello" 출력.
print(len(hello))  # 문자열 길이 출력 - "5"

hw = hello + ' ' + world  # 문자열 연결
print(hw)  # "hello world" 출력

hw12 = '%s %s %d' % (hello, world, 12)  # 변수를 활용하는 문자열 서식

print("{}번 째 시도, 소요 시간 {}".format(100,300) )
print(f'새로운 포맷의 문자열 : {hello}, {world}')
print(hw12, type(hw12))  # "hello world 12" 출력

hello
5
hello world
100번 째 시도, 소요 시간 300
새로운 포맷의 문자열 : hello, world
hello world 12 <class 'str'>

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize, 알파벳 첫 문자를 대문자로
print(s.upper())       # 문자열 전체를 대문자로, "HELLO"
print(s.lower())
# 공백 문자열을 추가하여 출력하되
print(s.rjust(7))      # 오른쪽 정렬로 출력, "  hello"
print(len(s.rjust(7))) # 문자열 길이는 7
print(s.ljust(7))      # 왼쪽 정렬로 출력, "hello  "
print(len(s.rjust(7))) # 문자열 길이는 7
print(s.center(7))     # 중앙 정렬로 출력, " hello "
print(len(s.center(7)))

# 문자열 변경
print(s.replace('o', ', go'))  # 'o'을 ', go'로 바꿈, "hell, go"

# 앞 뒤 빈 문자열 제거
print('  world '.strip())

Hello
HELLO
hello
  hello
7
hello
7
 hello
7
hell, go
world

In [ ]:
s
s + str(1)
s + 1

'hello'

'hello1'

TypeError: ignored

## 제어문

* if
* for
* while
* switch 문은 없음

In [ ]:
 # 조건문 - if-else

my_score = 73
 
if my_score >= 90:
    my_grade = 'A'
elif my_score >= 80:
    my_grade = 'B'
elif my_score >= 70:
    my_grade = 'C'
elif my_score >= 60:
    my_grade = 'E'
else:
    my_grade = 'F'
 
print(my_grade)

C

In [ ]:
# 반복문 - for
for i in range(5):
    print(i)
    
fruits = ['apple', 'banana', 'cherry']
 
for i in fruits:
    print(i)
    
for index, value in enumerate(fruits):
    print(index, value)

0
1
2
3
4
apple
banana
cherry
0 apple
1 banana
2 cherry

In [ ]:
# 반복문 - while
i = 0 
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry

### 실습

In [ ]:
score_1 = 20
score_2 = 90
score_3 = 55

# score 값에 따라 등급을 주는 다음의 조건문을 완성하시오.
# 95점 이상 A+. 90점 이상 A, 85점 이상 B+, 80점 이상 B,
# 75점 이상 C+. 70점 이상 C, 60점 이상 D, 60점 미만 F
def grade_out(x) :
    # pass 대신 return <value>로 변경
    pass

grade_out(score1)
grade_out(score2)
grade_out(score3)

# score1, score2, score3 각 점수중 하나라도 60점 이하거나 
# 점수의 평균이 80점 이하이면 Fail
# 그렇지 않은 경우에는 Pass를 주는 조건문을 완성하시오.


# for문과 range를 사용하여 1 ~ 100까지의 합을 구하시오


# while문을 사용하여 1 ~ 100까지 사이의 홀수의 합을 구하시오

# 자료형
  - basic type 혹은 자료형의 혼합으로 이루어진 type 으로 복수 개의 값(value)를 가질 수 있다.
  - call by value, pointer 개념 : [code visual site](http://pythontutor.com/visualize.html#mode=display)
  - 기본 자료형 type
    * list
    * set
    * tuple
    * dictionary

### 1. list
- 0개 이상의 element로 이루어진 자료형
- 모든 element는 같은 type 일 필요는 없다. 
- indexing, slicing

In [ ]:
# list 생성 
listA, listB = [3, 1, 2], [] # 혹은 list()
# list 길이
print(f'len : {len(listA)}, {len(listB)}')

print(f'listA : {listA}')                   # "[3, 1, 2]"
print(f'listA[1], listA[2], listA[0] : {listA[1]}, {listA[2]}, {listA[0]}')  # "1 2 3"
print(f'listA[-1] : {listA[-1]}')               # "2"
print(f'listA.index(1) : {listA.index(1)}')  
# 리스트 내용 변경
listA[2] = 6
print(f'listA ( after listA[2] = 6) : {listA}')         # "[3, 1, 6]"
# 하나의 리스트 내에 여러가지 타입이 들어갈 수 있다.
listA[2] = 'foo'
print(f"listA ( after listA[2] = 'foo') : {listA}")       # "[3, 1, 'foo']"

# 새로운 요소 추가
listA.append('bar')
print(f"listA ( after listA.append('bar')) : {listA}")         # "[3, 1, 'foo', 'bar']"

# 요소 제거 
del listA[2]
print(f"listA ( after del listA[2]) : {listA}")         # "[3, 1, 'bar']"

# 마지막 요소를 가져오면서 제거
x = listA.pop()
print(f'after listA.pop(), x : {x}, listA : {listA}')      # Prints "bar [3, 1]"

len : 3, 0
listA : [3, 1, 2]
listA[1], listA[2], listA[0] : 1, 2, 3
listA[-1] : 2
listA.index(1) : 1
listA ( after listA[2] = 6) : [3, 1, 6]
listA ( after listA[2] = 'foo') : [3, 1, 'foo']
listA ( after listA.append('bar')) : [3, 1, 'foo', 'bar']
listA ( after del listA[2]) : [3, 1, 'bar']
after listA.pop(), x : bar, listA : [3, 1]

In [ ]:
# 자르기(Slicing)

# range - 정수 목록을 만드는 함수
nums = list(range(10))
print(nums)               # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
nums1 = list(range(2, 10))
print(nums1)               # "[2, 3, 4, 5, 6, 7, 8, 9]"
nums2 = list(range(2, 10, 2))
print(nums2)               # "[2, 4, 6, 8]"

# 자르기
print(nums[2:4])          # "[2, 3]"
print(nums[7:])           # "[7, 8, 9]"
print(nums[:3])           # "[0, 1, 2]"
print(nums[:-2])          # "[0, 1, 2, 3, 4, 5, 6, 7]"

# 잘라낸 부분을 새로운 리스트로 할당(assign)
nums[2:4] = [8, 9, 10]  
print(nums)               # "[0, 1, 8, 9, 10, 4, 5, 6, 7, 8, 9]"

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[2, 3]
[7, 8, 9]
[0, 1, 2]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 8, 9, 10, 4, 5, 6, 7, 8, 9]

In [ ]:
# list 복사
nums = list(range(10))
nums_copy_1 = nums
nums_copy_2 = nums[:]
print(nums_copy_1)            # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums_copy_2)            # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"

nums_copy_1[0] = 'a'
print(nums_copy_1)            # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums_copy_2)            # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums)                   # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"

nums_copy_2[0] = 'b'
print(nums_copy_1)            # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums_copy_2)            # "[b, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums)                   # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]
['b', 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 반복문(Loops)

animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

In [ ]:
# 반복문
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

# 확장 문법 - 반복문
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares) 

# 확장 문법 - 반복문 + 조건문
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0] # generator 
print(even_squares)  # Prints "[0, 4, 16]"

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]
[0, 4, 16]

#### 실습

In [ ]:
import random
random.seed(2021)
ranInt = [random.randint(-100,100) for _ in range(10)]

# len 함수를 이용하여 ranInt에 들어있는 element의 갯수를 구하시오


# 첫번째와 다섯번째 element의 값을 출력하시오.


# append를 이용하여 마지막에 숫자 80을 추가하시오.


# 첫번째부터 3번째까지의 element를 slice하세요.


# ranInt에서 음수를 제거한 리스트를 ranInt01 변수에 담으세요. 


# ranInt01에서 50보다 큰 수를 제외한 리스트를 ranInt02 변수에 담으세요.


# ranInt02 리스트의 element들 합과 평균을 구하시요


# ranInt02 리스트 각 element의 값을 10으로 나눈 값을 갖는 리스트 ranInt03을 만드세요.


# ranInt03에서 홀수 번째 인덱스의 값을 출력하세요

In [ ]:
ranInt

[3, 61, 39, -30, -37, 62, -92, 13, 21, 47]

## 2. Dictionaries

* (key, value) 구조로 순서가 없는 자료형
* key를 통하여 value에 접근 하므로, 특정 값을 찾는 데 유리하다
* index의 개념.

In [ ]:
d = {'cat': 'cute', 'dog': 1}
print(d)
print([x for x in d])

{'cat': 'cute', 'dog': 1}
['cat', 'dog']

In [ ]:
# dictionary 생성
d_empty = {} # element가 0개인 dictionary 
d = {'cat': 'cute', 'dog': 'furry'}
print(d)

# dictionary 특정 값 조회
print(d['cat'])       # "cute"

# key 값이 들어있는지 확인
print('cat' in d)     # "True"
print('sheep' in d)     # "False"

# 새로운 (key, value) 추가
d['fish'] = 'wet'
print(d['fish'])      # "wet"
# print(d['monkey'])  # KeyError: 'monkey'를 key로 가진 value가 없다

# key가 없는 경우, default value 사용
print(d.get('monkey', 'N/A'))  # "N/A"
print(d.get('fish', 'N/A'))    # "wet"

# 요소 삭제
del d['fish']
print(d.get('fish', 'N/A')) # "N/A"

{'cat': 'cute', 'dog': 'furry'}
cute
True
False
wet
N/A
wet
N/A

In [ ]:
# cf) string Sequnce + dictionary + iteration
strSeq = 'how are you, today?'

dictStr = {k : strSeq.count(k) for k in strSeq }

In [ ]:
# 반복문 
d = {'person': 2, 'cat': 4, 'spider': 8}
for key in d:
    value = d[key]
    print('A %s has %d legs' % (key, value))

d = {'person': 2, 'cat': 4, 'spider': 8}
for key, value in d.items():
    print('A %s has %d legs' % (key, value))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs
A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [ ]:
# 확장 문법 - 반복문 + 제어문

animals = {'cat': 11, 'dog': 7, 'fish': 15, 'horse': 3}
animals_over_10 = {k: v for k, v in animals.items() if v > 10}
print(animals_over_10)  # "{'cat': 11, 'fish': 15}"

{'cat': 11, 'fish': 15}

#### 실습

In [ ]:
stu01 = {
    "no": 1,
    "name": "조한별",
    "points": [92, 96, 98]
}
stu02 = {
    "no": 2,
    "name": "조야옹",
    "points": [58, 64, 100]
}
stu03 = {
    "no": 3,
    "name": "조쨱짹",
    "points": [88, 84, 92]
}


# 각 학생들의 번호에 10씩 더하세요.

 
# 각 학생별로 점수 합계를 구하시오.


# 아래 out을 이용하여 stu01, stu02, stu03의 번호, 이름, 평균점수를 출력하시오.


# key: value를 출력하는 코드를 완성하세요.

#### 실습

In [ ]:
stu01 = {
    "no": 1,
    "name": "조한별",
    "points": [92, 96, 98]
}
stu02 = {
    "no": 2,
    "name": "조야옹",
    "points": [58, 64, 100]
}
stu03 = {
    "no": 3,
    "name": "조쨱짹",
    "points": [88, 84, 92]
}


# 각 학생들의 번호에 10씩 더하세요.
for dic in [stu01, stu02, stu03] :
    for k,v in dic.items() :
        if k == 'no' :
            dic[k] +=10
 
# 각 학생별로 점수 합계를 구하시오.
for dic in [stu01, stu02, stu03] :
    print(dic['name'],' : ', sum(dic['points']))

# 아래 out을 이용하여 stu01, stu02, stu03의 번호, 이름, 평균점수를 출력하시오.
out = "번호: %d, 이름: %s, 평균점수: %f"


# 아래 코드에 오류가 있습니다. 오류를 수정하여. key: value를 출력하는 코드를 완성하세요. 
for dics in [stu01, stu02, stu03] :
    print('----------')
    for key, value in dics.items() :
        print("%s: %s" % (key, sum(value)/len(value) if key=='points' else value))

print('----------')

조한별  :  286
조야옹  :  222
조쨱짹  :  264
----------
no: 11
name: 조한별
points: 95.33333333333333
----------
no: 12
name: 조야옹
points: 74.0
----------
no: 13
name: 조쨱짹
points: 88.0
----------

## 3. set
* 집합
* 중복된 값을 중첩되어 가지지 않는 리스트

In [ ]:
# 빈 set 만들기
set_empty = set() 

# set 생성
animals = {'cat', 'dog'}
print(animals)

# 요소가 있는지 체크
print('cat' in animals)   # "True"
print('fish' in animals)  # "False"

# 요소 추가
animals.add('fish')
print('fish' in animals)  # "True"
print(animals)

# set 요소 갯수
print(len(animals))       # "3"
animals.add('cat')        # 중복되어 추가해도 요소가 더 추가되지 않는다. 리스트와 비교.
print(len(animals))       # "3"
print(animals)

# 요소 삭제
animals.remove('cat')     
print(len(animals))       # "2"

######################
# List 비교
list_animals = ['cat', 'dog', 'fish']
print(list_animals)
print(len(list_animals))       # "3"

# list 요소 갯수
list_animals.append('cat')     # 중복되어도 요소가 더 추가된다.
print(len(list_animals))       # "4"
print(list_animals)

{'dog', 'cat'}
True
False
True
{'fish', 'dog', 'cat'}
3
3
{'fish', 'dog', 'cat'}
2
['cat', 'dog', 'fish']
3
4
['cat', 'dog', 'fish', 'cat']

In [ ]:
# 반복문
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))

# 확장 문법 - 반복문
from math import sqrt
nums = {int(sqrt(x)) for x in range(30)}
print(nums)  # "{0, 1, 2, 3, 4, 5}"

#1: fish
#2: dog
#3: cat
{0, 1, 2, 3, 4, 5}

## 4. Tuples
* 생성 후 불변
* unpacking

In [ ]:
# 비어있는 튜플 생성
empty_tuple = () # tuple()
# 튜플 생성
t = (5, 6)
print(type(t))    # Prints "<class 'tuple'>"
print(f't : {t[0]},{t[1]}')    # "(5, 6)"

print(t[0])       # "5"

# dictionary의 키로 사용되는 tuple
d = {(1, 0): 10, (2, 0): 20, (0, 1): 1}
print(d[(1, 0)])  # "10"
print(d[(0, 1)])  # "1"

# unpacking - 실제는 함수 
a, b = t
print(f'a, b == ({a},{b}) == t')

<class 'tuple'>
t : 5,6
5
10
1
a, b == (5,6) == t

In [ ]:
t[1] = 5

TypeError: ignored

# 함수(function)

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob')              # "Hello, Bob"
hello('Fred', loud=True)  # "HELLO, FRED!"

Hello, Bob
HELLO, FRED!

## 실습

In [ ]:
# 숫자의 list를 받아서 평균을 반환하는 average 함수를 만들어 봅시다 
def grade_average(list_points):
    # 여기를 작성해 주면 됩니다. 
    # 힌트: list_points의 요소의 평균을 계산해서 aver 변수에 담으면 됩니다. 

    return pass


points = [50, 60, 70, 80, 90, 100]
a = grade_average(points)
print(a)


# score 값에 따라 등급을 반환해 주는 grade 함수를 완성하시오.
# 95점 이상 A+. 90점 이상 A, 85점 이상 B+, 80점 이상 B,
# 75점 이상 C+. 70점 이상 C, 60점 이상 D, 60점 미만 F
def get_grade(score):
    # 여기를 작성해 주면 됩니다. 
    # 점수를 출력하고, 거기에 맞는 grade list를 return 하면 됩니다. 
    # 힌트: score의 값을 확인해서 등급을 grade 변수에 담으면 됩니다. 
    
    return pass

print(get_grade)

# (참고) 클래스(class)

In [ ]:
class Greeter(object):

    # 생성자
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # 메쏘드
    def greet(self, loud=False):
        if loud:
            print('HELLO, %s!' % self.name.upper())
        else:
            print('Hello, %s' % self.name)

g = Greeter('Fred')  # 인스턴스 생성
g.greet()            # "Hello, Fred"
g.greet(loud=True)   # "HELLO, FRED!"

Hello, Fred
HELLO, FRED!