# Pandas. 

### 선행지식  

1. Python 언어 기초
2. numpy 라이브러리 기초  
3. table 구조의 데이터에 대한 이해(엑셀 형태의 데이터)  

### 학습 목표
1. csv 파일 읽는 법
2. dataframe 만드는 법
3. dataframe 다루기
4. head, tail
5. 정렬
6. numpy array와 변환
7. dataframe 연산

## PRE.

In [37]:
# cell 내부의 print 형태의 결과를 모두 보여줌 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 라이브러리 불러오기 & 데이터 업로드

In [1]:
# !pip3 install pandas

import pandas as pd
from google.colab import files

In [22]:
uploaded = files.upload()

Saving raw_20210601_20210630.xlsx to raw_20210601_20210630.xlsx

## 01.데이터 프레임 만드는 법

### 01-1. from dict

In [7]:
# 생성 from dict

d = {}
print(type(d))

d = {
    'weapon' : ['sword_1','sword_1','sword_2','sword_2'],
     'tier' : ['Gold', 'Bronze', 'Silver', 'Gold'],
     'rank' : [1, 2, 3, 4]
}

df = pd.DataFrame(d)
df

<class 'dict'>

    weapon    tier  rank
0  sword_1    Gold     1
1  sword_1  Bronze     2
2  sword_2  Silver     3
3  sword_2    Gold     4

### 01-2. from numpy

In [8]:
# Numpy Array => Pandas DataFrame
import numpy as np

dates = pd.date_range('20201201', periods=6)
# DatetimeIndex(['2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
#                '2020-12-05', '2020-12-06'],
#               dtype='datetime64[ns]', freq='D')

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
#                   A         B         C         D
# 2013-01-01  0.469112 -0.282863 -1.509059 -1.135632
# 2013-01-02  1.212112 -0.173215  0.119209 -1.044236
# 2013-01-03 -0.861849 -2.104569 -0.494929  1.071804
# 2013-01-04  0.721555 -0.706771 -1.039575  0.271860
# 2013-01-05 -0.424972  0.567020  0.276232 -1.087401
# 2013-01-06 -0.673690  0.113648 -1.478427  0.524988

df

                   A         B         C         D
2020-12-01  0.420004 -0.053455  0.786941  0.098217
2020-12-02  1.328094 -0.635345 -0.939712  0.414449
2020-12-03  0.981887  1.284117  0.449820 -2.507288
2020-12-04 -0.169448 -1.420838  0.006253  1.218307
2020-12-05 -0.367880 -0.622458  0.656371 -0.223615
2020-12-06  1.897406 -0.639231  1.351969  0.454194

In [9]:
# Pandas DataFrame => Numpy Array
np_array = df.values
print(np_array, np_array.shape)

[[ 0.42000416 -0.05345502  0.78694094  0.09821672]
 [ 1.32809445 -0.6353446  -0.93971174  0.41444855]
 [ 0.98188673  1.28411718  0.44982026 -2.50728775]
 [-0.16944797 -1.4208383   0.00625277  1.21830689]
 [-0.36787953 -0.62245805  0.65637054 -0.22361544]
 [ 1.8974058  -0.63923145  1.35196949  0.45419438]] (6, 4)

### 01-3. 빈 데이터 프레임 생성하기.

In [11]:
df_empty = pd.DataFrame()
df_empty

Empty DataFrame
Columns: []
Index: []

## 02.데이터 불러오기, 조회하기

In [105]:
df = pd.read_excel('./raw_20210601_20210630.xlsx')
df

raw_df = df.copy()

                      수집시간 수집장비ID  축사번호  ...      센서타입         측정값            센서시간
0      2021-06-30 23:58:48   GW01     1  ...  humidity   99.899950  20210630235847
1      2021-06-30 23:58:48   GW01     1  ...      temp   21.099990  20210630235847
2      2021-06-30 23:58:21   GW01     1  ...       co2  402.890000  20210630235819
3      2021-06-30 23:58:21   GW01     1  ...       nh3    4.380000  20210630235819
4      2021-06-30 23:56:48   GW01     1  ...  humidity   99.899940  20210630235647
...                    ...    ...   ...  ...       ...         ...             ...
38919  2021-06-10 12:27:16   GW01     1  ...  humidity   45.639000  20210610122714
38920  2021-06-10 12:23:31   GW01     1  ...       nh3   11.934230  20210610122330
38921  2021-06-10 12:23:31   GW01     1  ...       co2  409.215100  20210610122330
38922  2021-06-10 12:16:58   GW01     1  ...       co2  402.246300  20210610121657
38923  2021-06-10 12:16:58   GW01     1  ...       nh3    3.526615  20210610121657

[38924 rows x 7 columns]

In [30]:
# 프레임의 행,열(형태? 모양?) 출력
df.shape

(38924, 7)

In [27]:
# 컬럼 이름 조회 
df.columns

Index(['수집시간', '수집장비ID', '축사번호', '모듈ID', '센서타입', '측정값', '센서시간'], dtype='object')

In [42]:
# 컬럼 별 정보 조회(null 갯수, Dtype 등)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38924 entries, 0 to 38923
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   수집시간    38924 non-null  object
 1   수집장비ID  38924 non-null  object
 2   축사번호    38924 non-null  int64
 3   모듈ID    38924 non-null  int64
 4   센서타입    38924 non-null  object
 5   측정값     38924 non-null  float64
 6   센서시간    38924 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 2.1+ MB

### 조회하기

In [29]:
# 수치형 데이터에 대한 summary value 보여줌
df.describe()

               축사번호     모듈ID           측정값          센서시간
count  38924.000000  38924.0  38924.000000  3.892400e+04
mean       1.000411      1.0    131.760115  2.021062e+13
std        0.057344      0.0    167.523660  6.379527e+06
min        1.000000      1.0      0.077222  2.021010e+13
25%        1.000000      1.0     22.065825  2.021062e+13
50%        1.000000      1.0     42.345830  2.021062e+13
75%        1.000000      1.0    400.200000  2.021063e+13
max        9.000000      1.0   2076.380000  2.021063e+13

In [32]:
## 행렬 형태 변환
df.values

array([['2021-06-30 23:58:48', 'GW01', 1, ..., 'humidity', 99.89995,
        20210630235847],
       ['2021-06-30 23:58:48', 'GW01', 1, ..., 'temp', 21.09999,
        20210630235847],
       ['2021-06-30 23:58:21', 'GW01', 1, ..., 'co2', 402.89,
        20210630235819],
       ...,
       ['2021-06-10 12:23:31', 'GW01', 1, ..., 'co2', 409.2151,
        20210610122330],
       ['2021-06-10 12:16:58', 'GW01', 1, ..., 'co2', 402.2463,
        20210610121657],
       ['2021-06-10 12:16:58', 'GW01', 1, ..., 'nh3', 3.526615,
        20210610121657]], dtype=object)

In [39]:
df.head() # 5 rows
print()
df.head(3)

                  수집시간 수집장비ID  축사번호  모듈ID      센서타입        측정값            센서시간
0  2021-06-30 23:58:48   GW01     1     1  humidity   99.89995  20210630235847
1  2021-06-30 23:58:48   GW01     1     1      temp   21.09999  20210630235847
2  2021-06-30 23:58:21   GW01     1     1       co2  402.89000  20210630235819
3  2021-06-30 23:58:21   GW01     1     1       nh3    4.38000  20210630235819
4  2021-06-30 23:56:48   GW01     1     1  humidity   99.89994  20210630235647

                  수집시간 수집장비ID  축사번호  모듈ID      센서타입        측정값            센서시간
0  2021-06-30 23:58:48   GW01     1     1  humidity   99.89995  20210630235847
1  2021-06-30 23:58:48   GW01     1     1      temp   21.09999  20210630235847
2  2021-06-30 23:58:21   GW01     1     1       co2  402.89000  20210630235819

In [40]:
df.tail(2)

                      수집시간 수집장비ID  축사번호  모듈ID 센서타입         측정값            센서시간
38922  2021-06-10 12:16:58   GW01     1     1  co2  402.246300  20210610121657
38923  2021-06-10 12:16:58   GW01     1     1  nh3    3.526615  20210610121657

## 03.Sorting

In [49]:
# by index
df.index
df.sort_index(axis = 0, ascending=False).head(6)

# by column value ...
df.sort_values(by = ['수집시간', '센서타입'], ascending=[True, True]).head(6)
df.sort_values(by = ['수집시간', '센서타입'], ascending=[True, False]).head(6)

RangeIndex(start=0, stop=38924, step=1)

                      수집시간 수집장비ID  축사번호  ...      센서타입         측정값            센서시간
38923  2021-06-10 12:16:58   GW01     1  ...       nh3    3.526615  20210610121657
38922  2021-06-10 12:16:58   GW01     1  ...       co2  402.246300  20210610121657
38921  2021-06-10 12:23:31   GW01     1  ...       co2  409.215100  20210610122330
38920  2021-06-10 12:23:31   GW01     1  ...       nh3   11.934230  20210610122330
38919  2021-06-10 12:27:16   GW01     1  ...  humidity   45.639000  20210610122714
38918  2021-06-10 12:27:16   GW01     1  ...      temp   28.959330  20210610122714

[6 rows x 7 columns]

                      수집시간 수집장비ID  축사번호  ...      센서타입         측정값            센서시간
38922  2021-06-10 12:16:58   GW01     1  ...       co2  402.246300  20210610121657
38923  2021-06-10 12:16:58   GW01     1  ...       nh3    3.526615  20210610121657
38921  2021-06-10 12:23:31   GW01     1  ...       co2  409.215100  20210610122330
38920  2021-06-10 12:23:31   GW01     1  ...       nh3   11.934230  20210610122330
38919  2021-06-10 12:27:16   GW01     1  ...  humidity   45.639000  20210610122714
38918  2021-06-10 12:27:16   GW01     1  ...      temp   28.959330  20210610122714

[6 rows x 7 columns]

                      수집시간 수집장비ID  축사번호  ...      센서타입         측정값            센서시간
38923  2021-06-10 12:16:58   GW01     1  ...       nh3    3.526615  20210610121657
38922  2021-06-10 12:16:58   GW01     1  ...       co2  402.246300  20210610121657
38920  2021-06-10 12:23:31   GW01     1  ...       nh3   11.934230  20210610122330
38921  2021-06-10 12:23:31   GW01     1  ...       co2  409.215100  20210610122330
38918  2021-06-10 12:27:16   GW01     1  ...      temp   28.959330  20210610122714
38919  2021-06-10 12:27:16   GW01     1  ...  humidity   45.639000  20210610122714

[6 rows x 7 columns]

## 03.Selection.  

#### 1. column 이름으로 조회  

#### 2. iloc를 활용한 index 로 조회

#### 3. by conditions

In [56]:
# by columnName
df.센서타입.head()
print('\n---------------------------------------')
df['센서타입'].head()

0    humidity
1        temp
2         co2
3         nh3
4    humidity
Name: 센서타입, dtype: object

---------------------------------------

0    humidity
1        temp
2         co2
3         nh3
4    humidity
Name: 센서타입, dtype: object

In [57]:
# unique 확인
df.센서타입.unique()

array(['humidity', 'temp', 'co2', 'nh3'], dtype=object)

In [63]:
# by row numbers
df.iloc[1]
print('\n---------------------------------------')
df.iloc[[1]]
print('\n---------------------------------------')

print(f'\ntype of df.iloc[1] : {type(df.iloc[1])} \ntype of df.iloc[[1]] : {type(df.iloc[[1]])}')

수집시간      2021-06-30 23:58:48
수집장비ID                   GW01
축사번호                        1
모듈ID                        1
센서타입                     temp
측정값                      21.1
센서시간           20210630235847
Name: 1, dtype: object

---------------------------------------

                  수집시간 수집장비ID  축사번호  모듈ID  센서타입       측정값            센서시간
1  2021-06-30 23:58:48   GW01     1     1  temp  21.09999  20210630235847

---------------------------------------

type of df.iloc[1] : <class 'pandas.core.series.Series'>
type of df.iloc[[1]] : <class 'pandas.core.frame.DataFrame'>

In [66]:
# 0행, 1열
df.iloc[0,1]

df.iloc[0:4,0:3]

'GW01'

                  수집시간 수집장비ID  축사번호
0  2021-06-30 23:58:48   GW01     1
1  2021-06-30 23:58:48   GW01     1
2  2021-06-30 23:58:21   GW01     1
3  2021-06-30 23:58:21   GW01     1

In [67]:
# condition array
(df.측정값 > 400).head()

0    False
1    False
2     True
3    False
4    False
Name: 측정값, dtype: bool

In [68]:
df[df.측정값 > 400].head()

                   수집시간 수집장비ID  축사번호  모듈ID 센서타입     측정값            센서시간
2   2021-06-30 23:58:21   GW01     1     1  co2  402.89  20210630235819
6   2021-06-30 23:56:21   GW01     1     1  co2  402.89  20210630235619
11  2021-06-30 23:54:21   GW01     1     1  co2  402.92  20210630235419
14  2021-06-30 23:52:21   GW01     1     1  co2  402.91  20210630235219
19  2021-06-30 23:50:21   GW01     1     1  co2  402.92  20210630235019

In [75]:
## 조건 연산 example 

df.센서타입.unique()

## isin
print('\nby 센서타입 list')
df[df.센서타입.isin(['temp','co2'])].head()

## conjunction
print('\nand(&).. or(|) ') 
df[(df['센서타입'] == 'temp') & (df['모듈ID'] == 1)].head() # 각 조건은 () 로 감싸준다

## str 함수
print('\nstr ')
df[df.센서타입.str.contains('m')].head()

array(['humidity', 'temp', 'co2', 'nh3'], dtype=object)

by 센서타입 list

                  수집시간 수집장비ID  축사번호  모듈ID  센서타입        측정값            센서시간
1  2021-06-30 23:58:48   GW01     1     1  temp   21.09999  20210630235847
2  2021-06-30 23:58:21   GW01     1     1   co2  402.89000  20210630235819
5  2021-06-30 23:56:48   GW01     1     1  temp   21.10338  20210630235647
6  2021-06-30 23:56:21   GW01     1     1   co2  402.89000  20210630235619
9  2021-06-30 23:54:48   GW01     1     1  temp   21.10168  20210630235447

and(&).. or(|)

                   수집시간 수집장비ID  축사번호  모듈ID  센서타입       측정값            센서시간
1   2021-06-30 23:58:48   GW01     1     1  temp  21.09999  20210630235847
5   2021-06-30 23:56:48   GW01     1     1  temp  21.10338  20210630235647
9   2021-06-30 23:54:48   GW01     1     1  temp  21.10168  20210630235447
13  2021-06-30 23:52:48   GW01     1     1  temp  21.11694  20210630235247
16  2021-06-30 23:50:48   GW01     1     1  temp  21.10499  20210630235047

str

                  수집시간 수집장비ID  축사번호  모듈ID      센서타입       측정값            센서시간
0  2021-06-30 23:58:48   GW01     1     1  humidity  99.89995  20210630235847
1  2021-06-30 23:58:48   GW01     1     1      temp  21.09999  20210630235847
4  2021-06-30 23:56:48   GW01     1     1  humidity  99.89994  20210630235647
5  2021-06-30 23:56:48   GW01     1     1      temp  21.10338  20210630235647
8  2021-06-30 23:54:48   GW01     1     1  humidity  99.89994  20210630235447

## 04.Modifying Data Frames. 

#### 04-1. column Name 바꾸기

#### 04-2. column 전체 바꾸기(혹은 추가). 

#### 04-3. 일부 내용 변경하기 - loc 함수 이용하기

### 04-1. column 이름 바꾸기

In [76]:
df.columns

Index(['수집시간', '수집장비ID', '축사번호', '모듈ID', '센서타입', '측정값', '센서시간'], dtype='object')

In [106]:
df.columns = ['GTime','deviceID','No','moduleID','sType','sValue','sensorTime']
df.columns

df.head(1)

Index(['GTime', 'deviceID', 'No', 'moduleID', 'sType', 'sValue', 'sensorTime'], dtype='object')

                 GTime deviceID  No  ...     sType    sValue      sensorTime
0  2021-06-30 23:58:48     GW01   1  ...  humidity  99.89995  20210630235847

[1 rows x 7 columns]

### 04-2 column 전체 내용 바꾸기

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38924 entries, 0 to 38923
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   GTime       38924 non-null  object
 1   deviceID    38924 non-null  object
 2   No          38924 non-null  object
 3   moduleID    38924 non-null  int64
 4   sType       38924 non-null  object
 5   sValue      38924 non-null  float64
 6   sensorTime  38924 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.1+ MB

In [107]:
# 데이터를 이미 존재하는 column에 할당하는 경우, 기존 column 의 내용이 대치됨
df['No'] = 'No.' + df.No.astype(str)
df.head()

                 GTime deviceID    No  ...     sType     sValue      sensorTime
0  2021-06-30 23:58:48     GW01  No.1  ...  humidity   99.89995  20210630235847
1  2021-06-30 23:58:48     GW01  No.1  ...      temp   21.09999  20210630235847
2  2021-06-30 23:58:21     GW01  No.1  ...       co2  402.89000  20210630235819
3  2021-06-30 23:58:21     GW01  No.1  ...       nh3    4.38000  20210630235819
4  2021-06-30 23:56:48     GW01  No.1  ...  humidity   99.89994  20210630235647

[5 rows x 7 columns]

In [108]:
# 데이터를 존재하지 않는 column에 할당하는 경우에는 column이 추가됨 (sensorTimeShort)
df['sensorTimeShort'] = df.sensorTime.astype(str).str[:8]
df.head()

                 GTime deviceID  ...      sensorTime  sensorTimeShort
0  2021-06-30 23:58:48     GW01  ...  20210630235847         20210630
1  2021-06-30 23:58:48     GW01  ...  20210630235847         20210630
2  2021-06-30 23:58:21     GW01  ...  20210630235819         20210630
3  2021-06-30 23:58:21     GW01  ...  20210630235819         20210630
4  2021-06-30 23:56:48     GW01  ...  20210630235647         20210630

[5 rows x 8 columns]

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38924 entries, 0 to 38923
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GTime            38924 non-null  object
 1   deviceID         38924 non-null  object
 2   No               38924 non-null  object
 3   moduleID         38924 non-null  int64
 4   sType            38924 non-null  object
 5   sValue           38924 non-null  float64
 6   sensorTime       38924 non-null  int64
 7   sensorTimeShort  38924 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 2.4+ MB

#### column 삭제하기

In [109]:
# column 삭제하기
_ = df.drop('sensorTimeShort', axis=1)
df.head()

print('inplace option ')
_ = df.drop('sensorTimeShort', axis=1, inplace=True)
df.head()

                 GTime deviceID  ...      sensorTime  sensorTimeShort
0  2021-06-30 23:58:48     GW01  ...  20210630235847         20210630
1  2021-06-30 23:58:48     GW01  ...  20210630235847         20210630
2  2021-06-30 23:58:21     GW01  ...  20210630235819         20210630
3  2021-06-30 23:58:21     GW01  ...  20210630235819         20210630
4  2021-06-30 23:56:48     GW01  ...  20210630235647         20210630

[5 rows x 8 columns]

inplace option

                 GTime deviceID    No  ...     sType     sValue      sensorTime
0  2021-06-30 23:58:48     GW01  No.1  ...  humidity   99.89995  20210630235847
1  2021-06-30 23:58:48     GW01  No.1  ...      temp   21.09999  20210630235847
2  2021-06-30 23:58:21     GW01  No.1  ...       co2  402.89000  20210630235819
3  2021-06-30 23:58:21     GW01  No.1  ...       nh3    4.38000  20210630235819
4  2021-06-30 23:56:48     GW01  No.1  ...  humidity   99.89994  20210630235647

[5 rows x 7 columns]

In [125]:
# 더 좋은 방법은 ....
df['sensorTimeShort'] = df.sensorTime.astype(str).str[:8]
df.head()
df = df.iloc[:,0:7]
df.head()

                 GTime deviceID  ...      sensorTime  sensorTimeShort
0  2021-06-30 23:58:48     GW01  ...  20210630235847         20210630
1  2021-06-30 23:58:48     GW01  ...  20210630235847         20210630
2  2021-06-30 23:58:21     GW01  ...  20210630235819         20210630
3  2021-06-30 23:58:21     GW01  ...  20210630235819         20210630
4  2021-06-30 23:56:48     GW01  ...  20210630235647         20210630

[5 rows x 8 columns]

                 GTime deviceID    No  ...     sType     sValue      sensorTime
0  2021-06-30 23:58:48     GW01  No.1  ...  humidity   99.89995  20210630235847
1  2021-06-30 23:58:48     GW01  No.1  ...      temp   21.09999  20210630235847
2  2021-06-30 23:58:21     GW01  No.1  ...       co2  402.89000  20210630235819
3  2021-06-30 23:58:21     GW01  No.1  ...       nh3    4.38000  20210630235819
4  2021-06-30 23:56:48     GW01  No.1  ...  humidity   99.89994  20210630235647

[5 rows x 7 columns]

#### column 간 연산

In [132]:
# column 연산

df['ID'] = df.deviceID.astype(str) + '_' + df.No.astype(str).str[-1] + '_' + df.moduleID.astype(str)
df

                     GTime deviceID    No  ...      sValue      sensorTime        ID
0      2021-06-30 23:58:48     GW01  No.1  ...   99.899950  20210630235847  GW01_1_1
1      2021-06-30 23:58:48     GW01  No.1  ...   21.099990  20210630235847  GW01_1_1
2      2021-06-30 23:58:21     GW01  No.1  ...  402.890000  20210630235819  GW01_1_1
3      2021-06-30 23:58:21     GW01  No.1  ...    4.380000  20210630235819  GW01_1_1
4      2021-06-30 23:56:48     GW01  No.1  ...   99.899940  20210630235647  GW01_1_1
...                    ...      ...   ...  ...         ...             ...       ...
38919  2021-06-10 12:27:16     GW01  No.1  ...   45.639000  20210610122714  GW01_1_1
38920  2021-06-10 12:23:31     GW01  No.1  ...   11.934230  20210610122330  GW01_1_1
38921  2021-06-10 12:23:31     GW01  No.1  ...  409.215100  20210610122330  GW01_1_1
38922  2021-06-10 12:16:58     GW01  No.1  ...  402.246300  20210610121657  GW01_1_1
38923  2021-06-10 12:16:58     GW01  No.1  ...    3.526615  20210610121657  GW01_1_1

[38924 rows x 8 columns]

### 04-3. 일부 내용 변경하기

In [121]:
df1 = df.copy()
df1.No.unique()

array(['No.1', 'No.9'], dtype=object)

In [122]:
df1[df1.sValue <= 0]

Empty DataFrame
Columns: [GTime, deviceID, No, moduleID, sType, sValue, sensorTime]
Index: []

In [124]:
# loc로 변경하기
# loc[<<조건>>,<<변경할 column이름>>] = 할당할 값
df1.loc[df1.No == 'No.9','sValue'] = [0, -1] # scalar 혹은 길이가 동일한 list 형
df1[df1.sValue <= 0]

                     GTime deviceID    No  ...     sType sValue      sensorTime
36956  2021-06-14 13:22:55     GW01  No.9  ...  humidity    0.0  20210101000000
36957  2021-06-14 13:22:55     GW01  No.9  ...      temp   -1.0  20210101000000

[2 rows x 7 columns]

## 05.Groupby, Join, Reshape

#### Grouping : DataFrame을 특정한 기준으로 압축하여, 대표되는 값을 뽑는 과정.


#### Join : 모양이 비슷한 DataFrame 여러 개를 하나로 줄이는 과정  

#### Reshape : 말 그대로 DataFrame을 표현하는 모양을 변경하는 과정  
    - long form, wide form
    - melt / spread
    - pivot / unpivot 
    - stack / unstack

### 05-1. Grouping

In [143]:
# setting df
df2 = df.copy()
df2['sensorTimeShort'] = df2.sensorTime.astype(str).str[:8]

df2.head(2)

                 GTime deviceID    No  ...      sensorTime        ID  sensorTimeShort
0  2021-06-30 23:58:48     GW01  No.1  ...  20210630235847  GW01_1_1         20210630
1  2021-06-30 23:58:48     GW01  No.1  ...  20210630235847  GW01_1_1         20210630

[2 rows x 9 columns]

In [144]:
# 축사(No) 별로 그룹핑하여 sensor 값(sValue)의 평균을 구하자
df2.groupby(by=['No'])['sValue']
df2.groupby(by=['No'])['sValue'].mean()

No
No.1    131.765431
No.9     28.300000
Name: sValue, dtype: float64

In [145]:
# as_index false
df2.groupby(by=['No'], as_index=False)['sValue']
df2.groupby(by=['No'], as_index=False)['sValue'].mean()

     No      sValue
0  No.1  131.765431
1  No.9   28.300000

In [146]:
# groupby multiple columns
df2.groupby(by=['No','sType'], as_index=False)['sValue'].mean()

     No     sType      sValue
0  No.1       co2  408.128282
1  No.1  humidity   71.397560
2  No.1       nh3    9.130987
3  No.1      temp   26.123781
4  No.9  humidity   20.100000
5  No.9      temp   36.500000

In [175]:
# groupby multiple columns, apply multiple aggregation funcions
df2.groupby(by=['No','sType'], as_index=False)['sValue'].agg(['std','mean'])

# groupby multiple columns, apply multiple aggregation funcions
# + multiple columns
df2.groupby(by=['No','sType'], as_index=False)['sValue','sensorTimeShort']. \
                agg({'sValue' : ['std','mean'], 'sensorTimeShort' : 'max'})

# groupby multiple columns, apply multiple aggregation funcions
# + multiple columns
# + columnName : check valueStd, valueMean, sTimemax column
df2.groupby(by=['No','sType'], as_index=False)['sValue','sensorTimeShort']. \
                agg({'sValue' : [('valueStd','std'),('valueMean','mean')], 'sensorTimeShort' : [('sTimemax','max')]})

                     std        mean
No   sType
No.1 co2       44.394783  408.128282
     humidity  13.745998   71.397560
     nh3       28.865514    9.130987
     temp       2.326890   26.123781
No.9 humidity        NaN   20.100000
     temp            NaN   36.500000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

     No     sType     sValue             sensorTimeShort
                         std        mean             max
0  No.1       co2  44.394783  408.128282        20210630
1  No.1  humidity  13.745998   71.397560        20210630
2  No.1       nh3  28.865514    9.130987        20210630
3  No.1      temp   2.326890   26.123781        20210630
4  No.9  humidity        NaN   20.100000        20210101
5  No.9      temp        NaN   36.500000        20210101

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  # This is added back by InteractiveShellApp.init_path()

     No     sType     sValue             sensorTimeShort
                    valueStd   valueMean        sTimemax
0  No.1       co2  44.394783  408.128282        20210630
1  No.1  humidity  13.745998   71.397560        20210630
2  No.1       nh3  28.865514    9.130987        20210630
3  No.1      temp   2.326890   26.123781        20210630
4  No.9  humidity        NaN   20.100000        20210101
5  No.9      temp        NaN   36.500000        20210101

In [179]:
# 바로 위 마지막에 수행한 group을 변수로 할당 받음
df2_grouped = df2.groupby(by=['No','sType'], as_index=False)['sValue','sensorTimeShort']. \
                agg({'sValue' : [('valueStd','std'),('valueMean','mean')], 'sensorTimeShort' : [('sTimemax','max')]})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [180]:
# column 이 2-level 입니다. 
df2_grouped.columns

df2_grouped.head(2)

MultiIndex([(             'No',          ''),
            (          'sType',          ''),
            (         'sValue',  'valueStd'),
            (         'sValue', 'valueMean'),
            ('sensorTimeShort',  'sTimemax')],
           )

     No     sType     sValue             sensorTimeShort
                    valueStd   valueMean        sTimemax
0  No.1       co2  44.394783  408.128282        20210630
1  No.1  humidity  13.745998   71.397560        20210630

In [181]:
# column 이름 변경 
# column 이름의 level 1 값이 있으면 level 1로, 없으면 level 0 값을 사용 
df2_grouped.columns = [ (x[1] if x[1] != '' else x[0]) for x in df2_grouped.columns]

df2_grouped.head(2)

     No     sType   valueStd   valueMean  sTimemax
0  No.1       co2  44.394783  408.128282  20210630
1  No.1  humidity  13.745998   71.397560  20210630

### 05-2. Join. 
##### 기본적으로 가로(column)에 데이터를 추가하는 형태
##### - merge... 여기서 확인 
##### 비슷한 기능을 하는 join, concat 함수가 있음. 다만, merge에 대한 이해 후 참고 추천.
[아래 링크](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)

In [185]:
mean_df = df2.groupby(by=['No','sType'], as_index=False)['sValue','sensorTimeShort']. \
                agg({'sValue' : [('valueMean','mean')], 'sensorTimeShort' : [('sTimemax','max')]})
mean_df.columns = [ (x[1] if x[1] != '' else x[0]) for x in mean_df.columns]

mean_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

     No     sType   valueMean  sTimemax
0  No.1       co2  408.128282  20210630
1  No.1  humidity   71.397560  20210630
2  No.1       nh3    9.130987  20210630
3  No.1      temp   26.123781  20210630
4  No.9  humidity   20.100000  20210101
5  No.9      temp   36.500000  20210101

In [186]:
std_df = df2.groupby(by=['No','sType'], as_index=False)['sValue','sensorTimeShort']. \
                agg({'sValue' : [('valueStd','std')], 'sensorTimeShort' : [('sTimemax','max')]})
std_df.columns = [ (x[1] if x[1] != '' else x[0]) for x in std_df.columns]

std_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

     No     sType   valueStd  sTimemax
0  No.1       co2  44.394783  20210630
1  No.1  humidity  13.745998  20210630
2  No.1       nh3  28.865514  20210630
3  No.1      temp   2.326890  20210630
4  No.9  humidity        NaN  20210101
5  No.9      temp        NaN  20210101

In [188]:
## merge join

pd.merge(mean_df, std_df)

## key 지정(on), join 방법(outer)
## check.. key(좌우 키가 다를 때! left_key, right_key), suffixes
## 메뉴얼 보는 법
pd.merge(mean_df, std_df, on=['No','sType'], how ='outer')

     No     sType   valueMean  sTimemax   valueStd
0  No.1       co2  408.128282  20210630  44.394783
1  No.1  humidity   71.397560  20210630  13.745998
2  No.1       nh3    9.130987  20210630  28.865514
3  No.1      temp   26.123781  20210630   2.326890
4  No.9  humidity   20.100000  20210101        NaN
5  No.9      temp   36.500000  20210101        NaN

     No     sType   valueMean sTimemax_x   valueStd sTimemax_y
0  No.1       co2  408.128282   20210630  44.394783   20210630
1  No.1  humidity   71.397560   20210630  13.745998   20210630
2  No.1       nh3    9.130987   20210630  28.865514   20210630
3  No.1      temp   26.123781   20210630   2.326890   20210630
4  No.9  humidity   20.100000   20210101        NaN   20210101
5  No.9      temp   36.500000   20210101        NaN   20210101

In [197]:
df2

                     GTime deviceID  ...        ID  sensorTimeShort
0      2021-06-30 23:58:48     GW01  ...  GW01_1_1         20210630
1      2021-06-30 23:58:48     GW01  ...  GW01_1_1         20210630
2      2021-06-30 23:58:21     GW01  ...  GW01_1_1         20210630
3      2021-06-30 23:58:21     GW01  ...  GW01_1_1         20210630
4      2021-06-30 23:56:48     GW01  ...  GW01_1_1         20210630
...                    ...      ...  ...       ...              ...
38919  2021-06-10 12:27:16     GW01  ...  GW01_1_1         20210610
38920  2021-06-10 12:23:31     GW01  ...  GW01_1_1         20210610
38921  2021-06-10 12:23:31     GW01  ...  GW01_1_1         20210610
38922  2021-06-10 12:16:58     GW01  ...  GW01_1_1         20210610
38923  2021-06-10 12:16:58     GW01  ...  GW01_1_1         20210610

[38924 rows x 9 columns]

In [196]:
## 원본 데이터프레임에 그룹된 결과를 join
pd.merge(df2, df2_grouped)

                     GTime deviceID    No  ...   valueStd  valueMean  sTimemax
0      2021-06-30 23:58:48     GW01  No.1  ...  13.745998  71.397560  20210630
1      2021-06-30 23:56:48     GW01  No.1  ...  13.745998  71.397560  20210630
2      2021-06-30 23:54:48     GW01  No.1  ...  13.745998  71.397560  20210630
3      2021-06-30 23:52:49     GW01  No.1  ...  13.745998  71.397560  20210630
4      2021-06-30 23:50:48     GW01  No.1  ...  13.745998  71.397560  20210630
...                    ...      ...   ...  ...        ...        ...       ...
38919  2021-06-10 12:58:39     GW01  No.1  ...  28.865514   9.130987  20210630
38920  2021-06-10 12:23:31     GW01  No.1  ...  28.865514   9.130987  20210630
38921  2021-06-10 12:16:58     GW01  No.1  ...  28.865514   9.130987  20210630
38922  2021-06-14 13:22:55     GW01  No.9  ...        NaN  20.100000  20210101
38923  2021-06-14 13:22:55     GW01  No.9  ...        NaN  36.500000  20210101

[38924 rows x 12 columns]

### 참고 : transform()
- 바로 위... groupby + join 의 결과를 바로 만들 수 있음
- 결과가 원본 dataFrame의 row 수와 동일함

In [199]:
df2.groupby(by=['No','sType'])['sValue'].transform('mean')

0         71.397560
1         26.123781
2        408.128282
3          9.130987
4         71.397560
            ...
38919     71.397560
38920      9.130987
38921    408.128282
38922    408.128282
38923      9.130987
Name: sValue, Length: 38924, dtype: float64

In [200]:
df2['new_valueMean'] = df2.groupby(by=['No','sType'])['sValue'].transform('mean')
df2

                     GTime deviceID  ... sensorTimeShort  new_valueMean
0      2021-06-30 23:58:48     GW01  ...        20210630      71.397560
1      2021-06-30 23:58:48     GW01  ...        20210630      26.123781
2      2021-06-30 23:58:21     GW01  ...        20210630     408.128282
3      2021-06-30 23:58:21     GW01  ...        20210630       9.130987
4      2021-06-30 23:56:48     GW01  ...        20210630      71.397560
...                    ...      ...  ...             ...            ...
38919  2021-06-10 12:27:16     GW01  ...        20210610      71.397560
38920  2021-06-10 12:23:31     GW01  ...        20210610       9.130987
38921  2021-06-10 12:23:31     GW01  ...        20210610     408.128282
38922  2021-06-10 12:16:58     GW01  ...        20210610     408.128282
38923  2021-06-10 12:16:58     GW01  ...        20210610       9.130987

[38924 rows x 10 columns]

### 05-3. Reshape. 

통계 테이블이나, plot을 위해 테이블 모양을 변경하는 방법이다.

In [201]:
## sType의 종류 확인
df2.sType.unique()

array(['humidity', 'temp', 'co2', 'nh3'], dtype=object)

#### pivot(), pivot_table()
* pivot().  
    ```data.pivot(index=, columns=, values=)```
* pivot_table()  
    ```pd.pivot_table(data, index=, columns=, values=, margins=, aggfunc= )```

In [210]:
df2

                     GTime deviceID  ... sensorTimeShort  new_valueMean
0      2021-06-30 23:58:48     GW01  ...        20210630      71.397560
1      2021-06-30 23:58:48     GW01  ...        20210630      26.123781
2      2021-06-30 23:58:21     GW01  ...        20210630     408.128282
3      2021-06-30 23:58:21     GW01  ...        20210630       9.130987
4      2021-06-30 23:56:48     GW01  ...        20210630      71.397560
...                    ...      ...  ...             ...            ...
38919  2021-06-10 12:27:16     GW01  ...        20210610      71.397560
38920  2021-06-10 12:23:31     GW01  ...        20210610       9.130987
38921  2021-06-10 12:23:31     GW01  ...        20210610     408.128282
38922  2021-06-10 12:16:58     GW01  ...        20210610     408.128282
38923  2021-06-10 12:16:58     GW01  ...        20210610       9.130987

[38924 rows x 10 columns]

In [205]:
df2.pivot(index="GTime", columns="sType", values="sValue")

sType                     co2  humidity        nh3      temp
GTime
2021-06-10 12:16:58  402.2463       NaN   3.526615       NaN
2021-06-10 12:23:31  409.2151       NaN  11.934230       NaN
2021-06-10 12:27:16       NaN  45.63900        NaN  28.95933
2021-06-10 12:56:05       NaN  48.82544        NaN  29.32883
2021-06-10 12:58:39  404.0543       NaN   5.793288       NaN
...                       ...       ...        ...       ...
2021-06-30 23:54:48       NaN  99.89994        NaN  21.10168
2021-06-30 23:56:21  402.8900       NaN   4.390000       NaN
2021-06-30 23:56:48       NaN  99.89994        NaN  21.10338
2021-06-30 23:58:21  402.8900       NaN   4.380000       NaN
2021-06-30 23:58:48       NaN  99.89995        NaN  21.09999

[18941 rows x 4 columns]

In [213]:
df2.pivot(index=['GTime', 'No'], columns="sType", values="sValue")
pd.pivot_table(df2, index=['GTime', 'No'], columns='sType', values='sValue')
pd.pivot_table(df2, index=['GTime', 'No'], columns='sType',margins=True, values='sValue')

sType                          co2  humidity        nh3      temp
GTime               No
2021-06-10 12:16:58 No.1  402.2463       NaN   3.526615       NaN
2021-06-10 12:23:31 No.1  409.2151       NaN  11.934230       NaN
2021-06-10 12:27:16 No.1       NaN  45.63900        NaN  28.95933
2021-06-10 12:56:05 No.1       NaN  48.82544        NaN  29.32883
2021-06-10 12:58:39 No.1  404.0543       NaN   5.793288       NaN
...                            ...       ...        ...       ...
2021-06-30 23:54:48 No.1       NaN  99.89994        NaN  21.10168
2021-06-30 23:56:21 No.1  402.8900       NaN   4.390000       NaN
2021-06-30 23:56:48 No.1       NaN  99.89994        NaN  21.10338
2021-06-30 23:58:21 No.1  402.8900       NaN   4.380000       NaN
2021-06-30 23:58:48 No.1       NaN  99.89995        NaN  21.09999

[18941 rows x 4 columns]

sType                          co2  humidity        nh3      temp
GTime               No
2021-06-10 12:16:58 No.1  402.2463       NaN   3.526615       NaN
2021-06-10 12:23:31 No.1  409.2151       NaN  11.934230       NaN
2021-06-10 12:27:16 No.1       NaN  45.63900        NaN  28.95933
2021-06-10 12:56:05 No.1       NaN  48.82544        NaN  29.32883
2021-06-10 12:58:39 No.1  404.0543       NaN   5.793288       NaN
...                            ...       ...        ...       ...
2021-06-30 23:54:48 No.1       NaN  99.89994        NaN  21.10168
2021-06-30 23:56:21 No.1  402.8900       NaN   4.390000       NaN
2021-06-30 23:56:48 No.1       NaN  99.89994        NaN  21.10338
2021-06-30 23:58:21 No.1  402.8900       NaN   4.380000       NaN
2021-06-30 23:58:48 No.1       NaN  99.89995        NaN  21.09999

[18941 rows x 4 columns]

sType                            co2   humidity  ...       temp         All
GTime               No                           ...
2021-06-10 12:16:58 No.1  402.246300        NaN  ...        NaN  202.886458
2021-06-10 12:23:31 No.1  409.215100        NaN  ...        NaN  210.574665
2021-06-10 12:27:16 No.1         NaN  45.639000  ...  28.959330   37.299165
2021-06-10 12:56:05 No.1         NaN  48.825440  ...  29.328830   39.077135
2021-06-10 12:58:39 No.1  404.054300        NaN  ...        NaN  204.923794
...                              ...        ...  ...        ...         ...
2021-06-30 23:56:21 No.1  402.890000        NaN  ...        NaN  203.640000
2021-06-30 23:56:48 No.1         NaN  99.899940  ...  21.103380   60.501660
2021-06-30 23:58:21 No.1  402.890000        NaN  ...        NaN  203.635000
2021-06-30 23:58:48 No.1         NaN  99.899950  ...  21.099990   60.499970
All                       408.128282  71.392079  ...  26.124889  131.760115

[18942 rows x 5 columns]

''

In [220]:
pd.pivot_table(df2, index=['GTime', 'No'], columns='sType', values='sValue').reset_index()

sType                GTime    No       co2  humidity        nh3      temp
0      2021-06-10 12:16:58  No.1  402.2463       NaN   3.526615       NaN
1      2021-06-10 12:23:31  No.1  409.2151       NaN  11.934230       NaN
2      2021-06-10 12:27:16  No.1       NaN  45.63900        NaN  28.95933
3      2021-06-10 12:56:05  No.1       NaN  48.82544        NaN  29.32883
4      2021-06-10 12:58:39  No.1  404.0543       NaN   5.793288       NaN
...                    ...   ...       ...       ...        ...       ...
18936  2021-06-30 23:54:48  No.1       NaN  99.89994        NaN  21.10168
18937  2021-06-30 23:56:21  No.1  402.8900       NaN   4.390000       NaN
18938  2021-06-30 23:56:48  No.1       NaN  99.89994        NaN  21.10338
18939  2021-06-30 23:58:21  No.1  402.8900       NaN   4.380000       NaN
18940  2021-06-30 23:58:48  No.1       NaN  99.89995        NaN  21.09999

[18941 rows x 6 columns]

In [221]:
pd.pivot_table(df2, index=['GTime', 'No'], columns='sType', values='sValue').reset_index(). \
melt(id_vars=['GTime','No'],var_name='sType')

                     GTime    No sType      value
0      2021-06-10 12:16:58  No.1   co2  402.24630
1      2021-06-10 12:23:31  No.1   co2  409.21510
2      2021-06-10 12:27:16  No.1   co2        NaN
3      2021-06-10 12:56:05  No.1   co2        NaN
4      2021-06-10 12:58:39  No.1   co2  404.05430
...                    ...   ...   ...        ...
75759  2021-06-30 23:54:48  No.1  temp   21.10168
75760  2021-06-30 23:56:21  No.1  temp        NaN
75761  2021-06-30 23:56:48  No.1  temp   21.10338
75762  2021-06-30 23:58:21  No.1  temp        NaN
75763  2021-06-30 23:58:48  No.1  temp   21.09999

[75764 rows x 4 columns]